PORT=5000
DATABASE_URL="postgresql://USER:PASSWORD@YOUR-NEON-BRANCH-pooler.REGION.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@YOUR-NEON-BRANCH.REGION.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET=super_secret_change_me
CLIENT_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
